<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_task_manager_root"
              name="Task Manager"
              sequence="10"/>

    <menuitem id="menu_task_manager_tasks"
              name="Tareas"
              parent="menu_task_manager_root"
              action="action_task_manager"
              sequence="1"/>

</odoo>